

@{
    ViewBag.Title = "Contact Us";
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="col center-align l12 m12 s12">
            <div class="bottomCard center-align z-depth-5">
                <div class="interCard center-align">
                    <div class="contentCard center-align">
                        <div class="contactContainer">
                            <h4>Contact @@</h4>
                            <br />
                            <br />
                            <br />
                            <ul id="social-icons">
                                <li><a href="https://twitter.com/Ahmad_Smiles" target="_blank"><h5><i class="fa fa-twitter"></i></h5></a></li>
                                <li><a href="https://github.com/ahmad2smile" target="_blank"><h5><i class="fa fa-github"></i></h5></a></li>
                                <li><a href="https://www.facebook.com/profile.php?id=100000917498968" target="_blank"><h5><i class="fa fa-facebook-official"></i></h5></a></li>
                                <li><a href="https://www.linkedin.com/in/shafiq-ahmad-b40510109/" target="_blank"><h5><i class="fa fa-linkedin"></i></h5></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>