
@model int

@{
    Layout = "_Layout";
}

﻿<div class="container">
    <div class="row">
        <div class="col center-align l12 m12 s12">
            <div id="DuoFormsCon">
                @await Component.InvokeAsync("Card", new { Id = @Model })

            </div>
        </div>
    </div>
</div>