
@inject SignInManager<ApplicationUser> _SingInManager

@{
    ViewBag.Title = "Login";
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="col center-align l12 m12 s12">
            <div class="bottomCard center-align z-depth-5">
                <div class="interCard center-align">
                    <div class="contentCard center-align">
                        <div class="contactContainer">
                            <h4>Login</h4>
                            <br />
                            <br />
                            <div>with</div>
                            <br />
                            <br />
                            <externalLogin>
                                @{
                                    var loginProviders = _SingInManager.GetExternalAuthenticationSchemes().ToList();
                                    if (loginProviders.Count == 0)
                                    {
                                        <span></span>
                                    }
                                    else
                                    {
                                        <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                                            <div>
                                                @foreach (var provider in loginProviders)
                                                {
                                                    <button type="submit" class="btn siteColor waves-effect waves-light" name="provider" value="@provider.AuthenticationScheme">@provider.AuthenticationScheme</button>
                                                }
                                            </div>
                                        </form>
                                    }
                                }
                            </externalLogin>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>